#landing-image {
  position: absolute;
  z-index: -2;
  @media screen and (min-width: 800px) {
    height: 100vh;
    width: auto;
  }
  @media screen and (min-width: 1024px) {
    bottom: 0;
    height: 100vh;
    width: auto;
  }
  @media screen and (min-width: 1440px) {
    height: auto;
    width: 100vw;
    bottom: 0;
  }
}

.part-container{
  height: 100%;
}

#landing-image-container {
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.0895522) 70%,
      #ffffff 100%
    );
  }
}

#book-now {
  & > a {
    color: #46564a;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: #46564a;
    }
  }
}
